<div class="row">
  <div class="col-lg-5 offset-1">
    <h1 class="headding">{{ headding }}</h1>
    <br /><br />
    <div class="form-group">
      <input type="text" #name class="form-control" />
    </div>
    <br />
    <div class="form-group">
      <button class="btn btn-primary" (click)="transferTitle(name.value)">
        Title Change on Child
      </button>
    </div>
  </div>

  <div class="col-lg-5">
    <app-child
      [title1]="title1"
      (titleUpdateEvent)="updateTitle($event)"
    ></app-child>
  </div>
</div>
