<div class="row">
  <div class="col-lg-5 offset-1 p-5">
    <h1 class="headding">{{ hedding }}</h1>

    <div class="form-group p-2">
      <label>Name:</label>
      <input type="text" class="form-control" #name />
    </div>

    <div class="form-group p-2">
      <label>Grade:</label>
      <input type="text" class="form-control" #grade />
    </div>

    <div class="form-group p-2">
      <a
        href="#"
        class="btn btn-primary"
        role="button"
        (click)="transforData(name.value, grade.value)"
        >Send</a
      >
    </div>
  </div>

  <div class="col-lg-5 p-5">
    <app-child
      [namedata]="inputname"
      [gradedata]="inputgrade"
      [objdata]="inputobj"
    ></app-child>
    <br />
  </div>
</div>
